@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);

h1, h2, h3, h4, h5, h6 {
    color: #2d2d2d;
    font-family: 'PT Sans Narrow', sans-serif;
}
html {
    color: #2d2d2d;
}
b, .tm-text-black, .uk-form-label {
	color: #2d2d2d;
}
a, .uk-link {
	color: #e83f24;
	text-decoration: none;
	cursor: pointer;
}
a:hover, .uk-link:hover {
	color: #aa2d00;
	text-decoration: underline;
}
.uk-tab, .uk-subnav-pill {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 17px;
}
.uk-text-center>thead>tr>th {
	text-align: center;
}
.tm-home .uk-tab>li.uk-active>a, .tm-manager .uk-tab>li.uk-active>a {
	background: #fff;
}
.tm-home .uk-tab>li>a, .tm-manager .uk-tab>li>a {
	padding: 8px 6px;
	border-color: #ddd;
    background: #f5f5f5;
    color: #059;
    outline: 0;
}
.tm-home .uk-tab>li:not(.uk-active)>a, .tm-manager .uk-tab>li:not(.uk-active)>a {
    margin-bottom: 1px;
    padding-bottom: 7px
}
.uk-panel-title {
	text-transform: uppercase;
	color: #2d2d2d;
	font-size: 22px;
}
.uk-description-list-horizontal>dt {
	width: 220px;
	font-weight: normal;
}
.uk-description-list-horizontal>dd {
	margin-left: 240px;
	font-weight: bold;
}
.tm-header-shadow {
	box-shadow: 0 0 50px 10px rgba(0,0,0,.05);
	min-width: 1140px;
}
.uk-container {
	max-width: 1140px;
	min-width: 1140px;
	padding: 0 35px;	
}

/* personal-add */
.personal-add .uk-form-row {
	position: relative;
}
.personal-add .uk-form-label {
	height: 20px;  
	overflow: hidden;
	text-overflow: ellipsis;
}
.personal-add .uk-form-label:hover {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: visible;  
	width: 300px;
	height: inherit;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.18);
	border-radius: 4px;
	color: #07d;
	z-index: 1;
	padding: 6px 6px 6px 6px;
	margin: -1px -6px -6px -6px;
}
.personal-add .uk-form-horizontal .uk-form-label {
	width: 300px;
}
.personal-add .uk-form-horizontal .uk-form-controls {
	margin-left:315px
}


.tm-nowrap {
	white-space: nowrap;
}
.uk-table>tbody>tr>td, .uk-table>thead>tr>th {
	vertical-align: middle;
}
.uk-table .uk-icon-medium {
	color: #FFB700;
}
/* tm-header */
.tm-headerbar {
	height: 150px;
}
.tm-headerbar>.uk-width-1-1>.uk-float-left>.uk-vertical-align, .tm-headerbar>.uk-width-1-1>.uk-float-right>.uk-vertical-align {
	height: 100px;
}
.tm-header .tm-logo-1 {
	color: #2d2d2d;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	font-family: 'PT Sans Narrow', sans-serif;
}
.tm-header .tm-logo-2 {
	color: #2d2d2d;
	text-transform: uppercase;
	font-size: 71px;
	line-height: 61px;
	font-family: 'PT Sans Narrow', sans-serif;
}
.tm-header .tm-logo-3 {
	color: #999;
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #ddd;
	font-size: 13px;
	line-height: 16px;
}
.tm-header-phone .uk-h1 {
	font-size: 28px;
	line-height: 34px;
	color: #2d2d2d;
}
.tm-header-phone {
	margin-left: 25px;
}
.tm-header-phone .uk-h3 {
	font-size: 13px;
	line-height: 19px;
	color: #777;
}
.tm-header-user a.cabinet {
	color: #2d2d2d;
	font-size: 16px;
	position: relative; 
	border-bottom: 1px dashed rgba(33, 33, 33, .3);
}
.tm-header-user a.cabinet:before {
	content: '';
	background: url(../images/top-menu-cabinet.png) left center no-repeat;
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	margin-top: -2px;
	left: -28px;
}
.tm-header-user a.city {
	color: #2d2d2d;
	font-size: 16px;
	position: relative;
	border-bottom: 1px dashed rgba(33, 33, 33, .3);
}
.tm-header-user a.city:before {
	content: '';
	background: url(../images/top-menu-city.png) left center no-repeat;
	display: block;
	width: 22px;
	height: 25px;
	position: absolute;
	margin-top: -2px;
	left: -22px;
}
.tm-header-user a.city:hover, .tm-header-user a.cabinet:hover {
	text-decoration: none;
	border-color: #fff;
}
.tm-header-user .uk-subnav>li:first-child {
	padding-left: 0px;
}
.tm-header-user .uk-subnav>li:last-child {
	padding-left: 40px;
}

/* tm-navbar */
.uk-navbar {
	background: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}
.uk-navbar-nav:first-child>li:first-child>a {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding-left: 0px;
}
.uk-navbar-nav:first-child>li:first-child>a:before {
	left: 0px;
}
.uk-navbar-nav>li.uk-active>a {
	background-color: #fff;
	color: #e83f24;
	border: 0px;
}
.uk-navbar-nav>li.uk-active>a:before {
	content: '';
	position: absolute;
	top: -1px;
	right: 15px;
	left: 15px;
	display: block;
	height: 2px;
	background: #e83f24;
}
.uk-navbar-nav>li>a {
	height: 51px;
	line-height: 50px;
	border: 0px;
	margin-top: 0px;
	margin-left: 0px;
	font-size: 15px;
}
.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
    background-color: #fff;
    color: #e83f24;
    border: 0px;
}
.uk-navbar-nav>li>a:active {
    background-color: #fff;
    color: #e83f24;
    border: 0px;
}

/* uk-breadcrumb */
.uk-breadcrumb>li>a {
	text-decoration: underline;
}
.uk-breadcrumb>li>a, .uk-breadcrumb>li {
	color: #999;
}
.uk-breadcrumb > li:nth-child(n+2):before {
	color: #ccc;
}

/* tm-ico-main */
.tm-ico-main {
	width: 95px;
	height: 101px;
	transition: all 0.2s ease;
}
.tm-ico-main-1 {
	background: url(../images/1.png) no-repeat; 
}
.tm-main-list-sections>li>a:hover .tm-ico-main-1 {
	background: url(../images/1_1.png) no-repeat; 
}
.tm-ico-main-2 {
	background: url(../images/2.png) no-repeat; 
}
.tm-main-list-sections>li>a:hover .tm-ico-main-2 {
	background: url(../images/2_1.png) no-repeat; 
}
.tm-ico-main-3 {
	background: url(../images/3.png) no-repeat; 
}
.tm-main-list-sections>li>a:hover .tm-ico-main-3 {
	background: url(../images/3_1.png) no-repeat; 
}
.tm-ico-main-4 {
	background: url(../images/4.png) no-repeat; 
}
.tm-main-list-sections>li>a:hover .tm-ico-main-4 {
	background: url(../images/4_1.png) no-repeat; 
}
.tm-ico-main-5 {
	background: url(../images/5.png) no-repeat; 
}
.tm-main-list-sections>li>a:hover .tm-ico-main-5 {
	background: url(../images/5_1.png) no-repeat; 
}
.tm-ico-main-6 {
	background: url(../images/6.png) no-repeat; 
}
.tm-main-list-sections>li>a:hover .tm-ico-main-6 {
	background: url(../images/6_1.png) no-repeat; 
}
.tm-ico-main-7 {
	background: url(../images/7.png) no-repeat; 
}
.tm-main-list-sections>li>a:hover .tm-ico-main-7 {
	background: url(../images/7_1.png) no-repeat; 
}
.tm-main-list-sections>li:nth-child(6)>a>.uk-panel, .tm-main-list-sections>li:nth-child(7)>a>.uk-panel {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 15px;
}
.tm-main-list-sections>li:nth-child(6)>a>.uk-panel:hover, .tm-main-list-sections>li:nth-child(7)>a>.uk-panel:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
}


/* tm-main */
.tm-main {
	margin-top: 15px;
}
.tm-main-list-sections>li:nth-child(n+2) {
	margin-top: 35px;
}
.tm-main-list-sections .uk-vertical-align-middle>.uk-panel {
	margin-left: 10px;
}
.tm-main-list-sections .uk-vertical-align-middle>.uk-panel>p {
	font-size: 13px;
	line-height: 15px;
	color: #2d2d2d;
	margin: 0px;
}
.tm-main-list-sections .uk-vertical-align-middle>.uk-panel>h3 {
	color: #e83f24;
	margin-bottom: 5px;
	font-size: 24px;
}
.tm-main-list-sections>li>a:hover .uk-panel>h3 {
	color: #2d2d2d;
	text-decoration: underline;
}
.tm-main-sidebar-panel-box .uk-panel-box {
	font-size: 13px;
	line-height: 16px;
}
.tm-main-sidebar-panel-box .uk-panel-box .uk-panel-title {
	padding-bottom: 7px;
	border-bottom: 2px solid #ddd;
	margin-bottom: 8px;
}
.tm-news-home .uk-list-space>li {
	line-height: 18px;
}
.tm-news-home .uk-list-space>li>div>a {
	text-decoration: underline;
	color: #2d2d2d;
	font-size: 14px;
}
.tm-news-home .uk-list-space>li>div>a:hover {
	text-decoration: none;
}
/* tm-search-home */
.tm-search-home .uk-subnav>li.uk-active>a {
	background-color: #e83f24;
    color: #fff;
    background-image: none;
    background-image: none;
    border-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
}
.tm-search-home .uk-subnav>li>a {
	padding: 7px 15px;
	font-size: 16px;
	background: #f7f7f7;
    color: #444;
    text-decoration: none;
    outline: 0;
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    text-shadow: 0 1px 0 #fff;
	border-radius: 5px;
}
.tm-search-home .uk-text-large>.uk-text-muted {
	font-size: 14px;
}
.tm-search-home .uk-form input:focus {
	border-color: #fcce00;
	background: #fff;
}
.tm-search-home .uk-button {
    background: #f7f7f7;
    color: #444;
    text-decoration: none;
    outline: 0;
    text-transform: uppercase;
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    text-shadow: 0 1px 0 #fff;
}
.tm-search-home .uk-button:focus, .tm-search-home .uk-button:hover {
    background-color: #fafafa;
    color: #666;
    outline: 0;
    text-decoration: none;
    background-image: none;
    box-shadow: none;
}

/* tm-directs */
.tm-directs-title {
	height: 45px;
	margin-bottom: 25px;
}
.tm-directs h3 {
	color: #666666;
}
.tm-directs h3>span {
	color: #2d2d2d;
}
.tm-directs .uk-panel-box-secondary:hover {
	color: #e83f24;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.tm-directs .uk-vertical-align-middle {
    text-transform: uppercase;
    font-size: 16px;
}
.tm-directs .uk-grid-divider .uk-width-1-2:nth-child(2n+1) {
	border-left: 0px;
}
/* tm-area */
.tm-area-title {
	margin: 25px 0;
	height: 45px;
}
.tm-area h3 {
	color: #666666;
}
.tm-area h3>span {
	color: #2d2d2d;
}
.tm-area .uk-table-hover>thead>tr>th {
	color: #fff;
	background-color: #e83f24;
	vertical-align: middle;
	font-weight: 400;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	line-height: 18px;
	border-bottom: 0px;
}
.tm-area .uk-table-hover>thead>tr>th:nth-child(n+2) {
	border-left: 1px solid #fff;
}
.tm-area .uk-table-hover>thead>tr>th:nth-child(n+2), .tm-area .uk-table-hover>tbody>tr>td:nth-child(n+2) {
	text-align: center;
}
.tm-area .uk-table-hover>tbody>tr>td {
	vertical-align: middle;
}

/* tm-home */
.tm-home h1 {
	text-transform: uppercase;
}
.tm-home h1>span {
	text-transform: none;
	color: #666666;
}
.tm-home .uk-subnav-pill {
	margin-top: 15px;
	margin-bottom: 25px;
}
.tm-home .uk-subnav-pill>.uk-active>* {
   	background-color: #e83f24;
    color: #fff;
    background-image: none;
    background-image: none;
    border-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
}
.tm-home .uk-subnav-pill>.uk-active>*:focus, .tm-home .uk-subnav-pill>.uk-active>*:hover {
    background-color: #e83f24;
    color: #fff;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
}

.tm-home .uk-subnav-pill>li>* {
    background: #f7f7f7;
    color: #444;
    text-decoration: none;
    outline: 0;
    text-transform: uppercase;
    padding: 10px 25px;
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    text-shadow: 0 1px 0 #fff;
}
.tm-home .uk-subnav-pill>li>*:focus, .tm-home .uk-subnav-pill>li>*:hover {
    background-color: #fafafa;
    color: #666;
    outline: 0;
    text-decoration: none;
    background-image: none;
    box-shadow: none;
}
.tm-home h3 {
	text-transform: uppercase;
	color: #666666;
}
.tm-home h3>a {
	text-decoration: underline;
}
.tm-home h3>span {
	color: #2d2d2d;
}
#home-table h3 {
	text-transform: uppercase;
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px solid #ddd;
	color: #2d2d2d;
	font-weight: bold;
}
.tm-home .uk-tab>li.uk-active>a {
	color: #2d2d2d;
}
.tm-home .uk-tab>li>a {
	color: #999;
}

.tm-box-rating {
	border-color: #76b430;
}
.tm-box-rating>.uk-panel-title {
	text-transform: uppercase;
	color: #2d2d2d;
}
.tm-box-rating .tm-table-strip>tbody>tr>td {
	padding-top: 7px;
}
.tm-box-rating .tm-table-strip>tbody>tr>td:last-child>span {
	padding-right: 0px;
}
.tm-box-star {
	color: #FFB700;
	white-space: nowrap;
}
/* tm-manager */
.tm-manager h1 {
	text-transform: uppercase;
}
.tm-manager h1>span {
	text-transform: none;
	color: #666666;
}
.tm-manager .uk-subnav-pill {
	margin-top: 15px;
	margin-bottom: 25px;
}
.tm-manager .uk-subnav-pill>.uk-active>* {
   	background-color: #e83f24;
    color: #fff;
    background-image: none;
    background-image: none;
    border-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
}
.tm-manager .uk-subnav-pill>.uk-active>*:focus, .tm-manager .uk-subnav-pill>.uk-active>*:hover {
    background-color: #e83f24;
    color: #fff;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
}
.tm-manager .uk-subnav-pill>li>* {
    background: #f7f7f7;
    color: #444;
    text-decoration: none;
    outline: 0;
    text-transform: uppercase;
    padding: 10px 25px;
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    text-shadow: 0 1px 0 #fff;
}
.tm-manager .uk-subnav-pill>li>*:focus, .tm-manager .uk-subnav-pill>li>*:hover {
    background-color: #fafafa;
    color: #666;
    outline: 0;
    text-decoration: none;
    background-image: none;
    box-shadow: none;
}
.tm-manager h3 {
	text-transform: uppercase;
	color: #666666;
}
.tm-manager h3>a {
	text-decoration: underline;
}
.tm-manager h3>span {
	color: #2d2d2d;
}
#home-table h3 {
	text-transform: uppercase;
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px solid #ddd;
	color: #2d2d2d;
	font-weight: bold;
}
.tm-manager .uk-tab>li.uk-active>a {
	color: #2d2d2d;
}
.tm-manager .uk-tab>li>a {
	color: #999;
}

/* tm-table-strip */
.tm-table-strip {
	width: 100%;
}
.tm-table-strip>tbody>tr>td {
	border-bottom: 1px dotted #ccc;
	padding: 0;
	vertical-align: bottom;
	padding-top: 16px;
}
.tm-table-strip>tbody>tr>td>a {
	text-decoration: underline;
}
.tm-table-strip>tbody>tr>td>span.uk-text-bold {
	padding: 0px !important;
}
.tm-table-strip>tbody>tr:first-child>td {
	padding-top: 0px;
}
.tm-table-strip>tbody>tr>td:first-child>* {
	background-color: #fff;
	padding-right: 7px;
	position: relative;
	bottom: -0.3em;
}
.tm-table-strip>tbody>tr>td:last-child>span, .tm-table-strip>tbody>tr>td:last-child>a {
	background-color: #fff;
	padding-left: 7px;
	line-height: 1.1em;
	position: relative;
	bottom: -0.3em;
}
.tm-table-strip>tbody>tr>td:last-child {
	text-align: right;
}
.tm-table-strip>tbody>tr>td:nth-child(2)>span, .tm-table-strip>tbody>tr>td:nth-child(2)>a {
	background-color: #fff;
	padding-right: 7px;
	position: relative;
	bottom: -0.3em;
}
#home_menu .tm-table-strip>tbody>tr>td:first-child, #manager-table .tm-table-strip>tbody>tr>td:first-child {
	border-bottom: 1px dotted #fff;
	color: #bbb;
	vertical-align: top;
}
.uk-badge-danger {
	background-color: transparent;
	background-image: none;
	text-shadow: none;
	color: #e83f24;
	border-color: #e83f24;
}
.tm-table-strip .uk-badge-danger {
	position: relative;
	top: -6px;
}
.tm-table-strip>tbody>tr>td>.uk-text-bold {
	color: #2d2d2d !important;
}
.tm-table-strip>tbody>tr>td.dotted-none {
	border-bottom: 1px dotted #fff;
}
.tm-table-strip>tbody>tr>td.uk-text-left>span, .tm-table-strip>tbody>tr>td.uk-text-left>a {
	padding-left: 0px;
	line-height: 18px;
}
.uk-panel .tm-table-strip>tbody>tr:first-child>td {
	padding-top: 0px;
}
.uk-panel .tm-table-strip>tbody>tr>td:first-child {
	border-bottom: 1px dotted #ccc;
	vertical-align: top;
}
.uk-panel .tm-table-strip>tbody>tr>td>span, .uk-panel .tm-table-strip>tbody>tr>td>a {
	background-color: #fff;
}
.uk-panel-box .tm-table-strip>tbody>tr:first-child>td {
	padding-top: 0px;
}
.uk-panel-box .tm-table-strip>tbody>tr>td:first-child {
	border-bottom: 1px dotted #ccc !important;
	color: #717171 !important;
	vertical-align: top !important;
}
.uk-panel-box .tm-table-strip>tbody>tr>td>span, .uk-panel-box .tm-table-strip>tbody>tr>td>a {
	background-color: #fafafa;
}
.tm-panel-box-table {
	background-color: #fafafa !important;
	padding: 10px 10px !important;
	margin-top: 10px;
	color: #b4b4b4 !important;
}
.tm-panel-box-table .uk-list-space>li>a {
	text-decoration: underline;
}
.tm-table-strip-none {
	width: 100%;
}
.tm-table-strip-none>tbody>tr>td {
	vertical-align: top;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
}
.tm-table-strip-none>tbody>tr>td:last-child {
	text-align: right;
}
.tm-table-strip-none .uk-badge-danger {
	position: relative;
	top: -8px;
}
.tm-table-strip-none>tbody>tr>td:first-child {
	color: #bbb;
}
.tm-table-strip-align>tbody>tr>td:last-child {
	text-align: left;
	border-bottom: 0px;
}

/* tm-partners */
.tm-partners {
	margin-top: 25px;
}
.tm-partners-list>li>a {
	font-size: 14px;
	line-height: 12px;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #555;
}
.tm-partners .gerb-nino {
	margin-top: 18px;
}

/* tm-footer */
.tm-footer {
	background-color: #F6F5F3;
	padding-top: 25px;
	color: #2d2d2d;
	min-width: 1140px;
	margin-top: 25px;
}
.tm-footer .uk-clearfix .tm-margin-left {
	margin-left: 45px;
}
.tm-footer .uk-grid-divider {
	margin: 15px 0;
}
.tm-webshaman>a {
	color: #999;
}

/* LOGIN */
#auth-modal .uk-modal-dialog {
	width: 400px;
}
.tm-star {
	font-size: 24px;
	vertical-align: middle;
	color: #e83f24;
}
.uk-nav-side>li>a {
	text-decoration: underline;
}
.uk-nav-side>li.uk-active>a {
	background-color: #e83f24;
	border-radius: 2px;
	text-decoration: none;
}
.uk-nav-side ul a {
	padding-left: 10px;
	color: #e83f24;
}
.uk-nav-side ul a:hover {
	text-decoration: underline;
}
.tm-table-red>thead>tr>th {
	background-color: #e83f24;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-weight: normal;
}
.tm-table-red>thead>tr>th:nth-child(n+2) {
	border-left: 1px solid #fff;
}
.tm-table-red>tbody>tr>td:nth-child(n+2) {
	text-align: center;
}

.tm-table-head-grey>tbody>tr>td {
	background: #fafafa;
	padding: 18px 8px;
}
.tm-tr-bg-grey>td {
	background: #fafafa;
}

.tm-box-file h4 {
	margin: 0px;
	font-size: 18px;
	line-height: 18px;
}
.tm-box-file .uk-icon-file-word-o {
	color: #2b579a;
}
.tm-box-file:hover h4 {
	text-decoration: underline;
}



























